/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* common styles */
body{
  font-family: 'Cabin', sans-serif;
}
/* -------------------------
       top banner style
    --------------------------*/
h1{
  font-size: 70px;
}

.container{
  display: flex;
  width: 1321px;
  height: 380px;
  padding: 50px 20px;
  color: #FFFFFF;
  background-color: #161616;
  margin-bottom: 100px;
  border-radius: 30px;
}
.link-button{
  text-decoration: none;
  width: 120px;
  background-color: #DD0000;
  padding: 10px 10px;
  color: white;
  font-weight: 187px;
  border-radius: 5px;
  cursor: pointer;
}
.top-banner{
  width: 50%;
  padding-left: 5%;
}

/* ----------------------
    match-section style
   -------------------- */
.players-container{
  display: grid;
  grid-template-columns: repeat(2, 0.20fr);
}
.responsive-link-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 2px;
  background-color: black;
  border-radius: 5px;
}
.info-button{
  display: flex;
  text-decoration: none;
  width: 120px;
  background-color:white;
  padding: 10px 10px;
  margin-bottom: 40px;
  color:black;
  font-weight: 187px;
  border-radius: 5px;
  margin-top: 3px;
}
.info-button:hover{
  background-color: #DD0000;
  color: #FFFFFF;
}
.match-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.match-section{
width: 312px;
height: 242px;
margin-left: 30px;
border: 1px solid black;
margin-bottom: 30px;
border-radius: 5px;
}


.match-1{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.vs{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.match-2{
  padding-left: 50px;
}

/* ---------------
    footer section 
    --------------*/

footer{
  background-color: #161616;;
}
 
#footer-title{
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: white;
  padding-top: 60px;
}

.for-hr{
  padding: 80px 100px 50px 100px;
}

hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  
} 

.footer-list{
  text-align: center;
  padding-bottom: 50px;
  
}

 .footer-icon{
  list-style: none;
  text-decoration: none;
  margin-left: 15px;
  color: white;
}
.social-link{
  text-align: center;
  
}

.social-icon{
  color: #FFFFFF;
  margin-left: 10px;
  margin-bottom: 10px;
}